.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  .example-header-image {
    background-image: url('http://cdn.onlinewebfonts.com/svg/img_383210.png');
    background-size: cover;
  }
  .contact-avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    position: absolute;
  }
  .contact-name{
      padding-left: 50px !important;
  }
  .contact-item{
      cursor: pointer;
      display: inline-grid;
      grid-template-columns: auto auto auto;
      padding: 20px;
  }

.mynumber{
  margin-left: 50px;
  top: 10px; 
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}
.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}
.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}
.clash-card__image {
  position: relative;
  height: 500px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.clash-card__image--barbarian {
  background: url('../../assets/img/bgCard.jpg');
}
.clash-card__image--barbarian img {
  width: 400px;
  position: absolute;
  top: -65px;
  left: -70px;
}
.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}
.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}
.clash-card__unit-stats--barbarian {
  background: #DF7401;
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #bd7c2f;
}
.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.clash-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.clash-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.slick-prev {
  left: 100px;
  z-index: 999;
}
.slick-next {
  right: 100px;
  z-index: 999;
}
.fonfon {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #DF7401;
}
img {
  width: 400px;
  height: 575px;
}
