.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  .example-header-image {
    background-image: url('http://cdn.onlinewebfonts.com/svg/img_383210.png');
    background-size: cover;
  }
  .contact-avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    position: absolute;
  }
  .contact-name{
      padding-left: 50px !important;
  }
  .contact-item{
      cursor: pointer;
      display: inline-grid;
      grid-template-columns: auto auto auto;
      padding: 40px;
  }

.mynumber{
  margin-left: 50px;
  top: 10px; 
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);


.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}
.clash-card__image {
  position: relative;
  height: 200px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.clash-card__image--barbarian {
  background: url('../../assets/img/bgCard.jpg');
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}
.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}
.clash-card__unit-stats--barbarian {
  background: #DF7401;
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #bd7c2f;
}
.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.clash-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.clash-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  background-color: #DF7401;
  width: 100%;
  border-radius: 30px; 

}
.clash-card__unit-stats .no-border {
  border-right: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.slick-prev {
  left: 100px;
  z-index: 999;
}
.slick-next {
  right: 100px;
  z-index: 999;
}
.fonfon {
  background-color: rgb(255, 255, 255);
}
img {
  position: absolute;
    z-index: 30;
    width: 150px;
    height: 220px;
    left: 25%;
    bottom: 1%;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0 0 0.25em 0;
}
h3 {
  font-size: 1.5em;
  line-height: 1.33em;
  margin: 0 0 0.33em 0;
}
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}
p {
  margin: 0 0 0.5em 0;
}
/*---------- UTILITIES ----------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/*---------- BANNER ----------*/

.banner {
  background: url(https://flipwallpapers.com/wallpapers/anime-wallpapers-background-For-desktop-Wallpaper.jpg) no-repeat fixed 50% 0;
  height: 22em;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 0% 0% 30% 30%;
}
.banner-text {
  color: #fff;
  font-size: 1.25em;
  left: 0;
  position: absolute;
  top: 75%;
  text-align: center;
  text-shadow: 0 0px 2px rgba(0, 0, 0, .5);
  width: 100%;
}
mat-list {
  padding-top: 0px;
  background-color: rgb(254, 248, 248);
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 140px;
  width: 100%;
}


footer{background:#DF7401;text-align:center;}
footer a{color:#fff;text-decoration:none; display:inline-block}

@media only screen and (max-width : 769px) {
footer a{font-size:22px;}
}
.yoy {
padding: 50px;
color: #fff;
}