<div class="contactcard">
  <mat-card class="example-card" *ngIf="contactInfo">
    <mat-card-content>
      <div class="contacthead">
        <mat-card-title>{{contactInfo.name}}</mat-card-title>
      </div>
      <!-- socialProfile -->
      
      <br />
      <mat-form-field class="full readonly">
        <mat-icon matPrefix>image</mat-icon>
        <textarea matInput placeholder="Image Url" [disabled]="true" value="{{contactInfo.photoUrl}}"></textarea>
      </mat-form-field>
      <mat-form-field class="full readonly">
          <mat-icon matPrefix>Synopsis</mat-icon>
          <textarea matInput placeholder="Synopsis" [disabled]="true" value="{{contactInfo.synopsis}}"></textarea>
        </mat-form-field>
      <mat-form-field class="full readonly">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="[ '/', 'contactedit', contactInfo._id ]">EDIT</button>
      <button mat-button (click)="deleteContact()">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>

