
<h1 style="text-align: center;">{{contactInfo.name}}</h1>
<div class="video-playlist-wrap two-col">
    <div class="player-wrap">
      <div class="fluid-ratio-wrap">
        <div class="fluid-ratio-inner">
            <video style="width: 100%; border-radius: 19px" controls>
              <source src="mov_bbb.mp4" type="video/mp4">
              <source src="mov_bbb.ogg" type="video/ogg">
            </video>
        </div>
      </div>
    </div>

    <div class="playlist-wrap">
      <ul class="remove-bullets scroll-wrap">
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 1</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 2</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 3</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 4</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 5</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 6</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 7</div>
        </li>
        <li class="playlist-item">
          <div class="thumb">
            <div class="fluid-ratio-wrap">
              <div class="fluid-ratio-inner"></div>
            </div>
          </div>
          <div class="details">Plalist Item 8</div>
        </li>
      </ul>
    </div>
  </div>

<div *ngIf="contactInfo">
    
    <button mat-raised-button color="primary" [routerLink]="[ '/', 'contactedit', contactInfo._id ]">EDIT</button>
    <button mat-button (click)="deleteContact()">DELETE</button>
</div>







  

