<body class="yay">
<div class="account-container">
    <mat-card class="example-card">
            <h1 class="title">Login</h1>
            <img style="height: 300px; width: 300px;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/257337a3-7e82-4080-bd85-5522a7ac7348/d78axdf-98701065-f7ce-4b17-8be6-fb1a0eb9a207.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI1NzMzN2EzLTdlODItNDA4MC1iZDg1LTU1MjJhN2FjNzM0OFwvZDc4YXhkZi05ODcwMTA2NS1mN2NlLTRiMTctOGJlNi1mYjFhMGViOWEyMDcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mcKvgymWmm0z5O4NdakfegXWGKvco1MI8yLdqg_3sfY">
        <div class="example-container">
            <form novalidate (ngSubmit)="login()" [formGroup]="loginForm" #formDir="ngForm" class="form-group">
                <mat-form-field class="justifier">
                    <mat-icon matPrefix>email</mat-icon>
                    <input matInput placeholder="Username" formControlName="username" text="text">
                </mat-form-field>
                <mat-form-field class="justifier">
                    <mat-icon matPrefix>lock</mat-icon>
                    <input matInput placeholder="Password" type="password" formControlName="password" text="password">
                </mat-form-field>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="validation-message">

                    <div *ngIf="password.hasError('required')">
                        Password is required.
                    </div>
                    <div *ngIf="password.hasError('minlength')">
                        Password must be at least 6 characters long.
                    </div>

                </div>
                <button color="primary" type="submit" [disabled]="!loginForm.valid" class="fullwidth" mat-raised-button>
                    Login
                </button>
                <br />
                <br />
                <button mat-raised-button [routerLink]="[ '/', 'register' ]" class="fullwidth">
                    Need an account? Register here.
                </button>
            </form>

        </div>
    </mat-card>
</div>
</body>