
  <mat-card class="example-card">
    <mat-card-content>
      <div class="contacthead">
        <mat-card-title *ngIf="contactInfo">{{contactInfo.name}}</mat-card-title>
      </div>
      <br />
      <mat-form-field class="full readonly">
        <input matInput placeholder="Nom" [(ngModel)]="contactInfo.name">
      </mat-form-field>
      <br />

      <mat-form-field >
        <input matInput placeholder="Image Url" [(ngModel)]="contactInfo.photoUrl">
      </mat-form-field>

      <mat-form-field class="full readonly">
          <input matInput placeholder="synopsis" [(ngModel)]="contactInfo.adress">
        </mat-form-field>
      <br />

      <mat-form-field class="full readonly">

      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="saveContact()" color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
